*
!.Xresources
!.bashrc
!.bash_profile
!.bash.d
!.bash.d/*
!.dir_colors
!.gitignore
!.gntrc
!.hgrc
!.inputrc
!.mailcap
!.muttrc
!.mutt
!.mutt/*.muttrc
!.offlineimaprc
!.tmux.conf
!.toprc
!.vimrc
!.vim.d
!.vim.d/*
